<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>AI Career & Skill Recommendation Engine</title>
  <link rel="stylesheet" href="styles.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
  <header class="topbar">
    <div class="container">
      <img id="main-logo" src="/logo7.jpeg" alt="logo">
      <h1 class="brand">AI Career & Skill Recommendations Engine</h1>
      <nav>
        <a href="/profile" style="text-decoration: none; color: white">
          <% if(currentAccount){ %>
            <img src="https://ui-avatars.com/api/?name=<%=currentAccount.username%>"
             alt="avatar"
             style="width:50px;height:50px;border-radius:50%;cursor:pointer;">
          <%} else {%>
          <i class="fa-solid fa-circle-user"></i>
          <%}%>
          </a>
      </nav>
    </div>
  </header>



<main>
  <nav id="navbar">
    <!-- <img src="/pexel.jpg" alt=""> -->
    <h3><a href="/" style="text-decoration: none;">Home</a></h3>    
    <h3><a href="/dashboard" style="text-decoration: none;">Dashboard</a></h3>
    <h3><a href="/contactus" style="text-decoration: none;">Contact Us</a></h3>
  </nav>
  <div class="main-content">
    <section class="overlay-card">
    <h2>Plan your future with AI</h2>
    <p class="muted" style="color: black;">Scholarships, stream & subject guidance, college fit, and job-skill plans — personalised for students.</p>
    <ul class="features" id="idx-features">
      <li>Scholarships after 10th / 12th</li>
      <li>Stream & college guidance after 10th / 12th</li>
      <li>Jobs & skills plan after graduation</li>
      <!-- <li>Save and review past suggestions</li> -->
    </ul>

    <%if(!currentAccount){%>
    <div class="cta">
      <a href="/register" class="btn primary">Create account</a>
      <a href="/login" class="btn outline">I already have an account</a>
    </div>
    <%} else {%>
    <div class="cta">
      <a href="/dashboard" style="margin: 5px auto;" class="btn primary"><b>Start Now!</b></a>
    </div>
    <%}%>
  

</section>
  </div>
  
</main>


  <footer class="muted small center" style="margin-top:2rem">
    Made for hackathon • AI Career & Skill Recommendation Engine
  </footer>
</body>
</html>
